
<ion-view view-title="Alarms">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" ng-click="login()">
        <p>
          <div class="pillContainer" href="#/app/pillDetail">
            <div class="pillName">
              {{playlist.description}}
              <br>
              {{playlist.name}}
            </div>
            <br>
            <div class="pillTime">
              {{playlist.time}}
            </div>
          </div>
        </p>
      </ion-item>
      <label class="item">
        <button class="button button-block button-positive" ng-click="createAlarm()">Add alarm</button>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
