<ion-view view-title="HomeRecord">
  <ion-content>

    <div class="list">
      <a class="item item-thumbnail-left" href="#" >
        <img src="./img/mooi.png" class="imageHomeRecord">
        <h2>{{textTranslate}}</h2>
      </a>
    </div>
    <label class="item">
      <button class="button button-block button-positive" ng-click="record()">Record</button>
    </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="speech()">Speech</button>
    </label>
  </ion-content>
</ion-view>
