
<ion-view view-title="Mooi">
  <ion-content>

    <div class="list">
      <a class="item item-thumbnail-left" href="#" >
        <img src="./img/mooi.png" class="imageHomeRecord">
        <p>You:{{textTranslate}}</p>
        <p>Mooi:{{textResponse}} </p>
      </a>
    </div>
    <label class="item">
      <button class="button button-block button-positive" ng-click="record()">Talk to me!</button>
    </label>
    <!-- <label class="item">
      <button class="button button-block button-positive" ng-click="speech()">Speech</button>
    </label>-->
    <label class="item">
      <button class="button button-block button-positive" ng-click="logout()">Disconnect</button>
    </label>
    <button class="button" ng-click="add()">Add notification</button>
    <button class="button" ng-click="isScheduled()">Is Scheduled</button>
  </ion-content>
</ion-view>
