<ion-view view-title="Info">
  <ion-content>
    <ion-list>

      <ion-item class="item" ng-click="resize()">
        <ion-label floating>Last info:</ion-label>
        <textarea id="page_content" class="msd-elastic">
          You:{{textTranslate}}It hurts!
          Mooi:{{textResponse}}Don´t worry about, I raise the alarm. </textarea>
      </ion-item>

      <ion-item ng-repeat="alarm in alarms" ng-click="">
        <p>
          <a class="item item-icon-left " href="#">

              {{alarm.title}}

              {{alarm.time}}
              <i class="icon ion-android-warning"></i>
          </a>
        </p>
      </ion-item>

    </ion-list>
    <label class="item">
      <button class="button button-block button-default button-energized" ng-click="resetAlarm()">Reset alarm list</button>
    </label>
  </ion-content>
</ion-view>
