<ion-view view-title="Login">
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <ul class="list">
          <li class="item item-toggle">
             Are you responsible user?
             <label class="toggle toggle-positive">
               <input type="checkbox" checked="">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
      </ul>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
        </label>

      </div>


    </form>
    <div class="list">
    <label class="item" href="#/app/register">
      <button class="button button-block button-balanced" ng-click="goToRegister()">Register</button>
    </label>
    <label class="item">
      <button class="button button-block button-energized" ng-click="resetPass()">Forgot your password?</button>
    </label>
  </div>
  </ion-content>
</ion-view>
