<ion-view view-title="Register">
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="register()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Firstname</span>
          <input type="text" ng-model="registerData.firstname">
        </label>
        <label class="item item-input">
          <span class="input-label">Lastname</span>
          <input type="text" ng-model="registerData.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">Lastname2</span>
          <input type="text" ng-model="registerData.lastname2">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="registerData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="registerData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <ion-item   class="item item-checkbox item-checkbox-checked">
          <ion-checkbox id="termsCheck" checked="true" secondary="">

                <div class="">
                  <div id="termsLabel" class="input-wrapper">
                    <ion-label >I agree to <a ng-click="showTerms()">terms and conditions</a></ion-label>
                    <!--template bindings={}-->
                  </div>
                </div>

          </ion-checkbox>

                  <ion-button-effect></ion-button-effect>
        </ion-item>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
