
<ion-nav-bar>
<ion-nav-back-button class="button-clear">
  <i class="ion-arrow-left-c"></i> Back
</ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Terms and conditions">
  <ion-content>
  <div class="list">
    <ion-card>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          Welcome to our application Mooi.
        </p>

      </div>
    </div>

    </ion-card>
    <ion-card>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          By downloading or otherwise accessing the App you agree to be bound by the following terms and conditions and our privacy policy.
        </p>
      </div>
    </div>
    </ion-card>
    <ion-card>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          The App is made available for your own, personal use. The App must not be used for any commercial purpose whatsoever or for any illegal or unauthorised purpose.
        </p>
      </div>
    </div>

    </ion-card>
    <ion-card>
    <div class="card">
      <div class="item item-text-wrap">

        <p>
          Information derived from the use of the application can be used in the future for academic purposes .
        </p>
      </div>
    </div>

    </ion-card>


 </div>

  </ion-content>
</ion-view>
