

.imageHomeRecord {
  border-radius:50%;
  position: relative;
  width: 120%;
  /*left:38%;*/
}
.pillName{
  width: 50%;
  position: relative;
  padding-left: 25px;
}
.pillTime{
  width: 50%;
  position: relative;
  padding-left: 25px;
}
.pillContainer div{
  float: left;
  clear: none;
  margin-left: : 30px;
}
.addAlarm {
  position: fixed;
}
#page_content{
  width: 100%;
}
